.add-contact {
  border: 2px solid #fab650;
  padding: 10px;
  box-sizing: border-box;
  margin: 5px;
  min-width: 200px;
}

.center-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button {
  width: 100px;
  height: 30px;
}

@media (min-width: 520px) {
  .add-contact {
    min-width: 240px;
  }
}
