.center-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button {
  width: 100px;
  height: 30px;
}

.validation-error {
  color: red;
  font-size: 0.8em;
  margin-bottom: 3px;
}
