.contact-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.contact-list-toolstrip {
  padding: 6px 20px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 520px) {
  .contact-list {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
